body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #232323;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
header h1 {
    font-size: 25px;
    margin: 10px 0;
    color: #333333;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
button[type="submit"] {
    margin-top: 10px;
    background-color: #0070c9;
    color: #ffffff;
    padding: 10px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
    background-color: #005ea3;
}
#mood {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: #333333;
}
h3 {
    position: absolute;
    bottom: 10px;
    font-size: 13px;
    color: #E8E8ED;
    margin: 0px 0px 0px 10px;
}
a{
    color: #E8E8ED;
}